.menuGeneral {
    background-color: #484349;
    display: flex;
    align-items: center;
}

.logoNavbar {

    height: 70%;
    padding: 13px;
    margin-right: auto;
}

.profil {
    list-style-type: none;
    margin-left: auto;
}

.profil img{
    width: 15%;
}


.liensDroite {
    list-style-type: none;
    display: flex;
    margin-right:20px ;
    font-size: 26px;
    align-items: center;
}

.liensDroite li {
    margin-right: 20px;
}

.imgpro {
    width: 70px;
}

