* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.menuGeneral {
    background-color: #484349;
    display: flex;
    align-items: center;
}

.logoNavbar {
    padding: 20px 0 10px 20px;
    transition: 0.7s;
    margin-right: auto;
}

.logoNavbar:hover {
    transition: 0.7s;
    transform: scale(1.2);
}

.menu-button {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #ccc;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    line-height: 50px;
    text-decoration: none;
    color: black;
}


.menu-links {
    display: none;
}

.menu-links.show-menu {
    display: block;
    font-size: 20px;
    background-color: white;
    list-style: none;
    position: absolute;
    z-index: 3;
}

.menu-links.show-menu a {
    color: black;
    border: solid 2px black;
}



.logoNavbar img {
    width: 70px;
}


.profil {
    list-style-type: none;
    margin-left: auto;
}

.profil img {
    width: 15%;
}

.liensDroite li a:hover {
    color: transparent;
    background-image: url("../images/name.gif");
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    transition: 0.3s;
}


.liensDroite {
    list-style-type: none;
    display: flex;
    margin-right: 20px;
    font-size: 26px;
    align-items: center;
}

.liensDroite li {
    margin-right: 20px;
}

.liensDroite li a {
    color: white;
    text-decoration: none;
}

.imgpro {
    width: 70px;
}