main {
    margin: 15px;
}

.container_table {
    overflow-x: auto;
}

table.table {
    margin: 30px auto;
    width: 60%;
    background-color: #ffffff;
    border-collapse: collapse;
    border-width: 3px;
    border-color: #000000;
    border-style: solid;
    color: #000000;
}

table.table td,
table.table th {
    border-width: 3px;
    border-color: #000000;
    border-style: solid;
    padding: 5px 20px;
}

table.table thead {
    background-color: #3891a6;
    font-size: 20px;
    user-select: none;
}

.submit-btn {
    transition: 0.4s ease;
    margin: 0 auto;
    display: block;
    height: 40px;
    width: 200px;
}

.submit-btn:hover {
    transition: 0.4s ease;
    background-color: rgb(146, 198, 146);
    cursor: pointer;
}